---
import TOC from "./widgets/TableOfContents.astro";
import { markdownify } from "@/lib/utils/textConverter";
import OptimizedImage from "./utilities/OptimizedImage.astro";

const { content, sidebar } = Astro.props;
const {
  title,
  image,
  author,
  Content,
  excerpt,
  categories,
  tocHeadings,
  table_of_contents,
} = content;

// Check if sidebar is enable
const sidebarEnabled = sidebar?.enable;

// Check if table of contents is enable
const tocEnabled =
  table_of_contents?.enable && tocHeadings && tocHeadings.length > 0;
---

<section class:list={["grid grid-cols-1 justify-items-center space-y-12"]}>
  <div class="container">
    <div
      class="after:bg-primary/5 relative mx-auto w-full space-y-8 after:inset-0 after:size-full after:content-[''] lg:max-w-4xl">
      <div class="space-y-8 text-center" data-aos="fade-up-sm">
        <div>
          {
            categories && categories.length > 0 && (
              <ul class="flex justify-center gap-2">
                {categories.map((category: string) => (
                  <li
                    class="text-secondary inline-block text-sm font-medium tracking-wider text-inherit"
                    set:html={markdownify(category)}
                  />
                ))}
              </ul>
            )
          }
          {title && <h1 class="h2" set:html={title} />}
        </div>
        {excerpt && <p set:html={markdownify(excerpt)} />}
        {
          author && author.title && (
            <div class="flex flex-wrap justify-center gap-4">
              {author?.image && (
                <OptimizedImage
                  width={64}
                  height={64}
                  src={author.image}
                  alt={author.title || "author image"}
                  class="h-16 w-16 rounded-full border-4"
                />
              )}
              <div class="text-start">
                {author.title && (
                  <p class="font-medium" set:html={markdownify(author.title)} />
                )}
                {author.role && <p set:html={markdownify(author.role)} />}
              </div>
            </div>
          )
        }
      </div>

      <!-- Post/Portfolio Image -->
      {
        image && Content && (
          <OptimizedImage
            {...(!sidebarEnabled && {
              "data-aos": "fade-up-sm",
              "data-aos-delay": "100",
            })}
            src={image as string}
            width={896}
            height={384}
            alt={title}
            class:list={["h-96 w-full rounded-3xl object-cover"]}
          />
        )
      }

      <div class:list={["space-y-8"]}>
        <!-- Table of Contents -->
        {
          tocEnabled && tocHeadings && (
            <TOC
              toc={tocHeadings}
              marker={false}
              {...(!sidebarEnabled && {
                "data-aos": "fade-up-sm",
                "data-aos-delay": "200",
                "data-aos-offset": "0",
              })}
            />
          )
        }

        <!-- Main Content -->
        {
          Content && (
            <div
              class="prose-styles content has-video-modal"
              {...{
                "data-aos": "fade-up-sm",
                "data-aos-delay": "200",
              }}>
              <Content />
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
