---
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { getLocaleUrlCTM } from "@/lib/utils/languageParser.ts";
import { slugifyyy } from "@/lib/utils/textConverter";
import type { SocialLink } from "@/types";

const baseURL = import.meta.env.SITE;

interface BaseProps {
  class?: string;
  size?: "sm" | "md" | "lg";
  list: SocialLink[];
  linkType?: "share" | "follow"; // Remove the optional type; it's always defined in Props.
  layout: "classic" | "minimal" | "modern";
  [key: string]: any;
}

interface ShareProps extends BaseProps {
  slug: string;
  linkType?: "share";
  title?: string;
  description?: string;
  disabled?: string[];
}

interface FollowProps extends BaseProps {
  linkType?: "follow";
}

type Props = ShareProps | FollowProps;

// Correctly define Astro.props to match Props
let {
  list,
  size = "md",
  title,
  slug,
  disabled,
  layout = "modern",
  linkType = "follow",
  description,
  class: className,
  ...rest
} = Astro.props as Props; // Ensure Astro.props is typed as Props

slug = slug ? getLocaleUrlCTM(slug, Astro.currentLocale) : "";
list = linkType === "share" ? list : list.filter((social) => social.url);

const shareLinks: { [key: string]: string } = {
  facebook: `https://www.facebook.com/sharer/sharer.php?u=${slug}`,
  twitter: `https://twitter.com/intent/tweet/?text=${title || ""}&amp;url=${slug}`,
  linkedin: `https://www.linkedin.com/shareArticle?mini=true&url=${slug}&title=${title || ""}&summary=${slugifyyy(description) || ""}&source=${baseURL}`,
  pinterest: `https://pinterest.com/pin/create/button/?url=${slug}&media=&description=${slugifyyy(description) || ""}`,
};

if (disabled) {
  list = list.filter((social) => !disabled.includes(social.label));
}

// This component is used in Contact Page, Footer
---

{
  list && list[0] && (
    <ul class:list={["flex flex-wrap items-center gap-4", className]} {...rest}>
      {list.map((social) => (
        <li>
          <a
            aria-label={social.label}
            href={linkType === "share" ? shareLinks[social.label] : social.url}
            target="_blank"
            rel="noopener noreferrer nofollow"
            class:list={[
              "group relative flex items-center justify-center transition duration-300",
              {
                "bg-primary/15 hover:bg-primary rounded-full":
                  layout === "classic",
              },
              { "text-dark hover:scale-110": layout === "minimal" },
              {
                "bg-primary/25 hover:bg-primary text-secondary hover:text-light rounded-full":
                  layout === "modern",
              },
              {
                "h-12 w-12": size === "sm",
                "h-14 w-14": size === "md",
                "h-16 w-16": size === "lg",
              },
            ]}>
            <span class="sr-only">{social.label}</span>
            {social.icon && (
              <OptimizedImage
                inlineSvg={true}
                src={social.icon}
                class:list={[
                  "group-hover:text-light text-light relative z-10 text-inherit transition duration-300",
                  {
                    "h-4 w-4": size === "sm",
                    "h-5 w-5": size === "md",
                    "h-6 w-6": size === "lg",
                  },
                ]}
                alt={social.label}
              />
            )}
          </a>
        </li>
      ))}
    </ul>
  )
}
