---
import { getLocaleUrlCTM } from "@/lib/utils/languageParser.ts";
import parseTomlToJson from "@/lib/utils/parseTomlToJson";
import { markdownify } from "@/lib/utils/textConverter";
import { splitProtectedText } from "@/lib/utils/splitProtectedText";
import SocialComponent from "@/components/social/Social.astro";
import Logo from "@/components/global/Logo.astro";
import social from "@/config/social.json";
import SubscriptionForm from "@/components/widgets/SubscriptionForm.astro";
import { useTranslations } from "@/lib/utils/languageParser.ts";

const config = parseTomlToJson("./src/config/config.toml");
const t = await useTranslations(Astro.currentLocale as string);

const { copyright, footer_description, subscription } = config.settings;
const footerDescription = footer_description || t("footer.description") || "";

const copyrightText = copyright.text || t("footer.copyright") || "";
const copyrightParts = splitProtectedText(copyrightText);
---

<footer class="to-primary/20 lg:to-primary/5 bg-gradient-to-b from-transparent">
  <div
    class="lg:bg-[radial-gradient(55%_55%_at_50%_130%,theme(colors.primary)_40%,transparent_120%)] xl:bg-[radial-gradient(55%_55%_at_50%_100%,theme(colors.primary)_0%,transparent_100%)]">
    <div class="container space-y-16 lg:space-y-28">
      <div class="grid pt-16 lg:grid-cols-2 xl:grid-cols-3">
        <!-- Logo, Description and Social -->
        <div class="flex flex-col gap-y-5 lg:pe-10">
          <Logo />
          {
            footerDescription && (
              <p class="opacity-90" set:html={markdownify(footerDescription)} />
            )
          }
          <SocialComponent
            layout="classic"
            linkType="follow"
            class="mt-5 gap-1"
            size="sm"
            list={social.main.filter((social) => social.enable)}
          />
        </div>

        <!-- Quick Links, Resources, Legal and Subscription -->
        <div
          class="col-span-2 mt-10 grid gap-y-10 md:grid-cols-3 xl:mt-0 xl:ml-5">
          <!-- Quick Links -->
          <div class="md:border-l md:px-8 lg:px-8 xl:px-14">
            {
              t("footer.quick_links") && (
                <h3
                  class="text-h5 text-light mb-6"
                  set:html={t("footer.quick_links")}
                />
              )
            }
            <ul class="flex flex-col gap-y-1.5">
              {
                t("footer_menu_quick_link") &&
                  t("footer_menu_quick_link").map(
                    (menu: { name: string; url: string }) => (
                      <li class="inline-block">
                        <a
                          class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                          href={getLocaleUrlCTM(menu.url, Astro.currentLocale)}>
                          {menu.name}
                        </a>
                      </li>
                    ),
                  )
              }
            </ul>
          </div>

          <!-- Resources, Legal and Subscription -->
          <div class="col-span-2 md:border-l md:pl-8 lg:pl-8 xl:pl-14">
            <div class="grid gap-y-10 md:grid-cols-2">
              <div>
                {
                  t("footer.resources") && (
                    <h3
                      class="text-h5 text-light mb-6"
                      set:html={t("footer.resources")}
                    />
                  )
                }
                <ul class="flex flex-col gap-2">
                  {
                    t("footer_menu_resources").map(
                      (menu: { name: string; url: string }) => (
                        <li class="inline-block">
                          <a
                            class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                            href={getLocaleUrlCTM(
                              menu.url,
                              Astro.currentLocale,
                            )}
                            set:html={menu.name}
                          />
                        </li>
                      ),
                    )
                  }
                </ul>
              </div>
              <div class="md:border-l md:pl-8 lg:pl-8 xl:pl-14">
                {
                  t("footer.legal") && (
                    <h3
                      class="text-h5 text-light mb-6"
                      set:html={t("footer.legal")}
                    />
                  )
                }
                <ul class="flex flex-col gap-2">
                  {
                    t("footer_menu_legal").map(
                      (menu: { name: string; url: string }) => (
                        <li class="inline-block">
                          <a
                            class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                            href={getLocaleUrlCTM(
                              menu.url,
                              Astro.currentLocale,
                            )}
                            set:html={menu.name}
                          />
                        </li>
                      ),
                    )
                  }
                </ul>
              </div>
            </div>
            {
              subscription && subscription.enable && (
                <div class="mt-8 border-t pt-5">
                  {(config.settings.subscription.title ||
                    t("subscription.label")) && (
                    <p
                      class="mb-2.5"
                      set:html={
                        config.settings.subscription.title ||
                        markdownify(t("subscription.label"))
                      }
                    />
                  )}
                  <SubscriptionForm {...subscription} />
                </div>
              )
            }
          </div>
        </div>
      </div>

      <!-- Footer Menu & Copyright -->
      <div class="py-7 text-sm md:text-base">
        <div class="flex flex-wrap justify-between gap-x-8 gap-y-6">
          <ul
            class="has-list has-list-dot flex flex-wrap gap-y-2 md:flex-nowrap">
            {
              t("footer_menu").map((menu: { name: string; url: string }) => (
                <li class="inline-block">
                  <a
                    class="inline-block py-px text-inherit opacity-90 duration-300 hover:text-white"
                    href={getLocaleUrlCTM(menu.url, Astro.currentLocale)}
                    set:html={menu.name}
                  />
                </li>
              ))
            }
          </ul>
          {
            config.settings.copyright && config.settings.copyright.enable && (
              <ul class="has-list has-list-slash prose-a:text-inherit flex flex-wrap gap-y-4 text-white">
                {copyrightParts.map((value: string) => (
                  <li class="prose-a:transition-colors prose-a:duration-300 prose-a:text-secondary prose-a:underline-offset-2 prose-a:underline inline-block opacity-90 [&_a:hover]:text-white">
                    <span set:html={markdownify(value)} />
                  </li>
                ))}
              </ul>
            )
          }
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  // Detect if the page has a call to action section and add a class to the footer accordingly.
  // This approach adds a section gap between the last section of main tag & footer.

  const ctaSection = document.querySelector(".cta-section");
  const footer = document.querySelector("footer") as HTMLElement;

  if (!ctaSection) {
    footer.classList.add("has-call-to-action");
  }
</script>
